@import url('bootstrap-icons.css');
body{

}

.container-fluid{
    max-width: 1920px;
}
/*/////// Sidebar ///////////////////////*/
.sidebar{
    width: 250px;
    position: fixed;
    height: 100vh;
    overflow: auto;
}
.sidebar::-webkit-scrollbar{
    display: none;
}






/*/////// Content ///////////////////////*/
.content{
    background-color: #6edff6;
    width: calc(100% - 250px);
    margin-left: 250px;
}